#close2{
    float: right;
    cursor: pointer;
  }

  #close2:hover{
    background-color: black;
    color: white;
    border-radius: 12px;
    opacity: 0.3;
  }
  
  ::ng-deep .mat-dialog-container{
    padding: 0;
  }

  .mat-form-field{
      display: block;
      min-width: 300px;
      width: 60vw;
      max-height: 80vh;

  }

  .mat-card {
    min-width: 300px;
    width: 60vw;
    max-height: 80vh;
    box-shadow: none;
  }

  .mat-card>.mat-card-actions:last-child {
    padding-bottom: 16px;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 0px;
}

.btn {
  min-width: 160px;
  width: 16vw;
}